$theme-color: #606c71;

a[href^="#"] {
  color: inherit;
  text-decoration: underline solid $theme-color;

  &:hover {
    color: blue;
    text-decoration: underline solid blue;
  }
}

table {
  width: 100%;

  th, tr {
    width: 100%;
  }
}

pre.rule {
  background-color: #E0F8F8;
  border: none;
}

div.example > * {
  td.side-by-side {
    vertical-align: top;
    border: none;
    width: 10%;
  }

  pre {
    background-color: #E0F8E0;
    border: none;
    margin-bottom: 0px;
  }
}

pre.error {
  background-color: #F8E0E0 !important;
}

pre.example {
  background-color: #E1F8E0;
  border: none;
}

.main-content blockquote {
  margin-right: 0px;
  border-left: none;
}

code.container {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}

div.legend > *, pre {
  code {
    &.legend-1 {
      background-color: #F8F8E0;
      box-shadow: 0 0 0 1px #666 inset;
    }
    &.legend-2 {
      background-color: #E0E0F8;
      box-shadow: 0 0 0 1px #666 inset;
    }
    &.legend-3 {
      background-color: #F8E0F8;
      box-shadow: 0 0 0 1px #666 inset;
    }
    &.legend-4 {
      background-color: #E0F8F8;
      box-shadow: 0 0 0 1px #666 inset;
    }
  }
}

div.legend {
  margin-left: 1rem;

  p {
    margin: 0px;
    margin-top: 5px;

    strong {
      font-weight: normal;
    }
  }

  ul {
    padding-inline-start: 20px;
    margin-block-start: 0px;

    li {
      display: inline;
      white-space: nowrap;
    }
  }
}

ul.author-group,
ul.release-info,
#markdown-toc,
#markdown-toc ul {
  list-style: none;
}

span.footnote-link {
  text-decoration: underline solid $theme-color;

  sup a {
    color: blue;
    text-decoration: none;
  }
}

.footnote-links {
  p {
    margin-bottom: 0px;
  }
}

.footnote-links-after {
  height: 1000px;
}
