<!DOCTYPE html>
<html lang="en-US">

<head>
  {% include head-init.html %}

  {% unless page.plain %}
    {% include head-theme.html %}
  {% endunless %}

  {% include head-spec.html %}

  {% include head-favicon.html %}
</head>

<body class="status-{{ page.status }}">

<main id="content" class="main-content" role="main">

{% if page.status == "draft" %}
<p class="status-header">
This is a working draft of an upcoming specification. It is a work
in progress and may be modified before final release. You should not rely on
the content of this draft or cite it as an authority.
</p>
{% endif %}

{{content}}

</main>

</body>

</html>
